.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;
}

.name{
    font-family: 'dancing script';
    font-size: 30px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

